body {
    padding: 0;
    margin: 0;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

.classPage {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fff7f7 0%, #dcdbff 49%, #fff7f7 100%);
    border-bottom: 10px solid black;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.classPage img {
    margin-left: 28vw;
    border-top: 4px solid black;
    transform: scale(600%);
}

.classPage h1 {
    font-family: "Poppins", sans-serif;
    font-size: 7vw;
    margin-top: -2vw;
    line-height: 8vw;
    text-decoration: underline;
    width: 50%;
}

.classPage h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: -3vw;
    width: 80%;
    text-align: justify;
}

.classPage:nth-of-type(3), .classPage:nth-of-type(5) {
    background: linear-gradient(#fff7f7 0%, #dcdbff 49%, #fff7f7 100%);
}

@media screen and (min-width:540px) and (max-width: 1024px) {
    .classPage {
        height: 40vh;
        display: grid;
    }

    .imageClass img {
        width: 5%;
        margin-top: 2%;
        margin-left: 50%;
    }

    .classDescription {
        margin-left: -10%;
    }

    .classDescription h1 {
        font-size: 5vw;
        margin-top: 0%;
    }

    .classDescription h3 {
        font-size: 1.7vw;
    }
}

@media screen and (min-width: 300px) and (max-width: 539px) {
    .classPage {
        height: 40vh;
        display: grid;
    }

    .imageClass img {
        width: 7%;
        margin-top: 2%;
        margin-left: 50%;
    }

    .classDescription {
        margin-left: -10%;
    }

    .classDescription h1 {
        font-size: 7vw;
        margin-top: 0%;
    }

    .classDescription h3 {
        font-size: 2vw;
    }
}


@media screen and (max-width: 300px) {
    .classPage {
        height: 40vh;
        display: grid;
    }

    .imageClass img {
        width: 8%;
        margin-top: 2%;
        margin-left: 50%;
    }

    .classDescription {
        margin-left: -10%;
    }

    .classDescription h1 {
        font-size: 8vw;
        margin-top: 0%;
    }

    .classDescription h3 {
        font-size: 2.2vw;
    }
}
