body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 1em; /* Base font size */
}

.navbar {
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 9999;
}

.navbar-kiri {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo {
    max-height: 85%;
    width: auto;
    transition: 0.3s ease;
}

.Logo:hover{
    max-height: 100%;
    width: auto;
    transition: 0.3s ease;
    cursor: pointer;
}

.Logo-Tulisan {
    max-height: 100%;
    width: auto;
}

.navbar-kanan {
    display: grid;
    width: 75%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr); /* Simplified grid-template-columns */
}

.subJudul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.25em; /* Adjust font size with em units */
    transition: 0.3s ease;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.subJudul:hover {
    background-color: black;
    color: white;
    font-size: 1.5em; /* Adjust font size with em units */
}

.fa-bars {
    font-size: 250%;
    visibility: hidden;
}

/* Media query for smaller screens */
@media screen and (min-width:750px) and (max-width: 850px) {
    .navbar-kiri {
        width: 25%; /* Adjust as needed */
        margin-right: 15%;
    }

    .navbar-kanan {
        width: 60%;
        grid-template-columns: repeat(5, 0.18fr);
    }

    .Logo {
        height: 70%; /* Adjust as needed */
    }
    .Logo-Tulisan{
        height: 15%;
    }

    .subJudul {
        font-size: 1em; /* Adjust font size with em units */
    }

    .subJudul:hover {
        font-size: 1.25em; /* Adjust font size with em units */
    }
}

@media screen and (max-width: 750px) {
    .navbar{
        display: block;
    }
    .navbar-kanan{
        background-color: whitesmoke;
        height: 500px;
        display: flex;
        flex-direction: column;
        display: none;
        width: 100%;
    }
    .navbar-kanan>a{
        height: 20%;
        width: 100%;
        font-size: 1.5rem;
        text-decoration: underline;
        background: whitesmoke;
        z-index: 9999;
    }
    .navbar-kanan>a:hover{
        background-color: black;
        color: white;
        font-size: 1.75rem;
    }
    .navbar-kanan.open{
        display:flex;
    }

    .fa-bars {
        visibility: visible;
        margin-left: 80%;
    }
}
